:root {
    --blue-color: #00c7ff;
    --font-color: #f0f8ff;
    --background-color: #34353a;

    --black-color: #202020;
    --white-color: #ffffff;
    --hover-color: #14fff1;
    --size-big: 30px;
    --size-medium: 15px;
}